<!-- Podemos agregar estilos aqui -->
<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
    padding: 10px;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  /* Agregamos la clase active que va en routerLinkActive */
  nav a.active {
    color: cyan;
    text-decoration: underline;
  }
</style>

<nav>
  <!-- Tendra routerLinkActive una clase css entre parentesis -->
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contador</a>
  <a [routerLink]="['/hero']" [routerLinkActive]="'active'">Hero</a>
</nav>
